{% extends "auth_base.html" %}

{% block content %}

<div class="container">
  
<aside class="col-sm-4" >

<div class="card" >

<article class="card-body">
	<h4 class="card-title mb-4 mt-1 text-center">Forgot your password</h4>
  <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-danger" role="alert">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}

    <form method="POST" action="/forgot-password">
      <p>Please fill in the email that you used to register.</p>
      <p>You will be sent an email with instructions on how to reset your password.</p>
      <div class="form-group">
        <input name="email" class="form-control" placeholder="Your email" type="email" autofocus="" required>
      </div> 
     
      <div class="mb-4 mt-1 text-center">
        <button type="submit" class="btn btn-primary btn-block">Send email</button>
      </div>                                                                                                       
    </form>

</article>
</div> 
</aside> 

</div>
{% endblock %}
