{% extends "auth_base.html" %}

{% block content %}

<div class="container">
  
<aside class="col-sm-4" >

<div class="card" >

<article class="card-body">
	<h4 class="card-title mb-4 mt-1 text-center">Reset password</h4>
  <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-danger" role="alert">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
  {% endwith %}

    <form method="POST" action="">
      <div class="form-group">
        <input name="password" class="form-control" placeholder="New password" type="password" autofocus="" required>
      </div> 
      <div class="form-group">
        <input name="confirm_password" class="form-control" placeholder="Confirm your password" type="password" autofocus="" required>
      </div> 
      <div class="mb-4 mt-1 text-center">
        <button type="submit" class="btn btn-primary btn-block">Reset password</button>
      </div>                                                                                                       
    </form>

</article>
</div> 
</aside> 

</div>
{% endblock %}
